/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #1d5594;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #1d5594, 0 0 5px #1d5594;
  -moz-box-shadow: 0 0 10px #1d5594, 0 0 5px #1d5594;
  -webkit-box-shadow: 0 0 10px #1d5594, 0 0 5px #1d5594;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 9999;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: solid 5px transparent;
  border-top-color: #1d5594;
  border-left-color: #1d5594;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,.nprogress-custom-parent #nprogress .bar
  {
  position: absolute;
}

#nprogress .admin .bar {
  background-color: #27a7f7;
}

#nprogress .admin .peg {
  box-shadow: 0 0 10px #27a7f7, 0 0 5px #27a7f7;
  -wekit-box-shadow: 0 0 10px #27a7f7, 0 0 5px #27a7f7;
  -moz-box-shadow: 0 0 10px #27a7f7, 0 0 5px #27a7f7;
}

#nprogress .admin .spinner-icon {
  border-top-color: #27a7f7;
  border-left-color: #27a7f7;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}