.xfw_sidebar {
  width: 246px;
  position: absolute;
}

.xfw_sidemenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.xfw_sidemenu li.main-menu a {
  background: #222 !important;
  text-transform: uppercase;
  cursor: default;
}

.xfw_sidemenu li.active>a {
  background-color: #09507a;
}

.xfw_sidemenu li.opened>a {
  background-color: rgba(9, 80, 122, .4);
}

.xfw_sidemenu li a {
  background: url('/public/images/admin_layout/menuhover.png') no-repeat -333px 0;
  display: block;
  padding: 12px 15px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 0.1em 0.1em 0.2em #000;
  text-decoration: none;
}

.xfw_sidemenu li a:hover {
  background-color: #2b719c;
  background-position: 0 0;
}

.xfw_sidemenu li a .fa {
  float: right;
}

.xfw_sidemenu li>ul {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  display: none;
}

.xfw_sidemenu li.opened>ul,.xfw_sidemenu li.active>ul {
  display: block;
}

.xfw_separator {
  height: 2px;
  background-image: url('/public/images/admin_layout/separator.png');
}